name: Build APK

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18
        
    - name: Check files (برای دیباگ)
      run: ls -la
      
    - name: Install dependencies
      run: npm install
      
    - name: Build project
      run: npm run build
      
    - name: Install Capacitor
      run: |
        npm install @capacitor/core @capacitor/cli @capacitor/android
        
    - name: Setup Android
      run: |
        npx cap init "نور" com.yourname.noor --web-dir dist
        npx cap add android
        npx cap sync
        
    - name: Build APK
      run: |
        cd android
        chmod +x ./gradlew
        ./gradlew assembleDebug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: android/app/build/outputs/apk/debug/app-debug.apk
